venv/
__pycache__/
*.pyc
.env
.DS_Store
ash/
jack/
king/
raz/
rengen/
rise/
survical/
test/
ash/bot.log
jack/bot.log
king/bot.log
raz/bot.log
rengen/bot.log
rise/bot.log
survical/bot.log
test/bot.log

*.log
*.json
